.head-style {
    font-weight: bold;
}

.Fundoo-f {
    color: blue;
}

.Fundoo-u {
    color: red;
}

.Fundoo-n {
    color: yellow;
}

.Fundoo-d {
    color: blue;
}

.Fundoo-o {
    color: green;
}

.Fundoo-oo {
    color: red;
}

.Username-Label-Width {
    width: 200px;
}

.mat-cards {
    width: 48%;

    margin-top: 5%;
    margin-left: 27%;
    border: 2px black;
}

.form {
    text-align: center;

}

.Register-img {
    width: 270px;


}

.Form-width {
    width: 60%;
}

.img-width {
    width: 40%;
}

.pass-suggest {
    color: blue;
}

.username {
    width: 425px;
}

.lastname-space {
    margin-left: 20px;
}

.Suggestion {
    margin-top: -15px;
    font-size: 13px;
}

.username-margin {
    margin-top: -200px;
}

.Show-pass {
    font-size: 8px bold;
    margin-top: 15px;
}

.btn-next {
    margin-left: 240px;
}

.SignNextbtn {
    margin-top: 40px;
}

.btn-Sign {
    margin-top: 15px;
    font-size: 12px bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
}

.UseCurrentEmail {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 20px bold;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
}