<mat-card class="mat-cards">
    <div>
        <div fxLayoutAlign="start">
            <h1 class="head-style"><span class="Fundoo-f">F</span><span class="Fundoo-u">u</span><span
                    class="Fundoo-n">n</span><span class="Fundoo-d">d</span><span class="Fundoo-o">o</span><span
                    class="Fundoo-oo">o</span></h1>

        </div>

        <div fxLayoutAlign="start">
            <h3>Create Your Fundoonote Account</h3>
        </div>
        <div fxLayoutAlign="space-between start">
            <div fxLayoutAlign="start">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
                <mat-form-field appearance="outline" class="lastname-space">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="img-width">
                <img src="../../../assets/account.svg" class="Register-img">
            </div>
        </div>
        <div class="username-margin" fxLayoutAlign="start">
            <mat-form-field appearance="outline" class="username">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>


        </div>
        <div fxLayoutAlign="start" class="Suggestion">You Can Use Letter, Number & Periods</div>
        <div fxLayoutAlign="start" class="UseCurrentEmail">Use my current email address instead</div>
        <div fxLayoutAlign="start">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="outline" class="lastname-space">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div fxLayoutAlign="start" class="Suggestion">Use 8 or more characters with a mix of letters, numbers & symbols
        </div>
        <div fxLayoutAlign="start">
            <mat-checkbox class="Show-pass">Show Password</mat-checkbox>
        </div>
    </div>
    <div style="display:flex" class="SignNextbtn">
        <div class="btn-Sign">
            Sign in instaed
        </div>
        <div class="btn-next">
            <button mat-raised-button color="primary">Signup</button>
        </div>
    </div>


</mat-card>