<mat-card class="mat-cards">
    <div>
<div class="" fxLayoutAlign="center start">
    <h1 class="head-style"><span class="Fundoo-f">F</span><span
        class="Fundoo-u">u</span><span class="Fundoo-n">n</span><span class="Fundoo-d">d</span><span
        class="Fundoo-o">o</span><span class="Fundoo-oo">o</span></h1>
        </div>
        <div class="" fxLayoutAlign="center start"> <h2>Forget Password</h2></div>
            <div class="" fxLayoutAlign="center start"><h3>Enter your email to forget password</h3>
</div>
<div fxLayoutAlign="center start">
    <mat-form-field appearance="outline" class="LabelWidth">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</div>


<div class="CreateAccountLogin" style="display: flex;">

<div class="LoginBtn"><button mat-raised-button color="primary">Forget Password</button></div>
</div>
</div>
</mat-card>