<mat-card class="mat-cards">
    <div>
<div class="" fxLayoutAlign="center start">
    <h1 class="head-style"><span class="Fundoo-f">F</span><span
        class="Fundoo-u">u</span><span class="Fundoo-n">n</span><span class="Fundoo-d">d</span><span
        class="Fundoo-o">o</span><span class="Fundoo-oo">o</span></h1>
        </div>
        <div class="" fxLayoutAlign="center start"> <h2>Sign in</h2></div>
            <div class="" fxLayoutAlign="center start"><h3>Use your Fundoo Account</h3>
</div>
<div fxLayoutAlign="center start">
    <mat-form-field appearance="outline" class="LabelWidth">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</div>
<div fxLayoutAlign="center start">
    <mat-form-field appearance="outline" class="LabelWidth">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>
</div>
<div class="ForgetPass">
    Forget Password
  
</div>
<div class="NotYourComputer"> <p>Not your computer? Use Guest mode to sign in privately.<br><span class="Learn">Learn more</span></p></div>
<div class="CreateAccountLogin" style="display: flex;">
<div class="CreateAccountbtn">Create Account
</div><div class="LoginBtn"><button mat-raised-button color="primary">Login</button></div>
</div>
</div>
</mat-card>