.head-style{
    font-weight: bold;
}
.Fundoo-f{
    color:blue;
}
.Fundoo-u{
    color: red;
}
.Fundoo-n{
    color: yellow;
}
.Fundoo-d{
    color: blue;
}
.Fundoo-o{
    color: green;
}
.Fundoo-oo{
    color: red;
}

.mat-cards{
    width: 30%; 
   
    margin-top: 5%;
    margin-left: 30%;
 border: 2px black;
 font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}
.form{
    text-align: center;
    
}

.Form-width{
    width: 60%;
}
.LabelWidth{
    width: 350px;
}
.ForgetPass{
    font-weight: 20px bold;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    margin-left: 52px;
    margin-top: -15px;
}
.CreateAccountLogin{
    margin-left: 52px;
    margin-top: 33px;
}
.CreateAccountbtn{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 5px bold;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}
.LoginBtn{
    margin-left: 180px;
}
.NotYourComputer{
    font-weight: 23px bold;
    color: #5f6368;
    margin-left: 52px;
    margin-top: 35px;
}
.Learn{
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
}